.textblock {
  padding: 16px;
  background-color: #dbc78c;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  overflow-wrap: break-word;
}
